.ImageSection {
  display: flex;
  max-height: 80%;
  width: 100%;
  .img {
    width: 100%;
    height: auto;
    img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 100%;
      object-fit: cover;
      height: 100%;
    }
  }
  .about-info {
    margin-left: 2rem;
    h4 {
      font-size: 2rem;
    }
    .about-text {
      padding: 1rem 0;
    }
  }
  @media screen and (max-width: 768px) {
    flex-direction: column;
    .about-info {
      margin-left: 0;
      margin-top: 1rem;
    }
    .img {
      img {
        width: 70%;
        object-fit: cover;
        height: auto;
      }
    }
  }
}

.btn-cv {
  padding: 1rem 2rem;
  background-color: #037fff;
  outline: none;
  border: none;
  font-family: inherit;
  font-size: inherit;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
  letter-spacing: 2px;
  margin-top: 1rem;
  position: relative;
  &::after {
    position: absolute;
    content: '';
    width: 0;
    height: 0.3rem;
    left: 0;
    bottom: 0;
    background-color: #a4acc4;
    transition: all 0.4s ease-in-out;
  }
  &:hover::after {
    width: 100%;
  }
}
