.card {
  background-color: #ffffffd6 !important;
}
.card-header {
  padding: 0 !important;
  .btn {
    width: 100%;
    padding: 1rem !important;
    text-align: left;
    margin: 0 auto !important;
    text-decoration: none !important;
    font-size: 1.3rem;
    font-weight: 500;
  }
}

.ExperienceItem {
  background-color: rgb(219, 219, 219);
  border-radius: 10px;
  border: 1px solid #037fff;
  display: flex;
  padding: 15px;
  &:not(:last-child) {
    margin-bottom: 1rem;
  }
  .img {
    margin-right: 1rem;
    img {
      width: 8vw;
    }
  }
  .content-container {
    width: 100%;
    .content-top {
      display: flex;
      justify-content: space-between;
      .content-left {
        h5 {
          font-size: 1.5rem;
          color: #000000;
          margin-bottom: 0.5rem;
        }
        p {
          color: #037fff;
          margin-bottom: 0.5rem;
        }
      }
      .content-right {
        text-align: right;
        color: rgb(73, 73, 73);
      }
    }
    .content-bottom {
      color: rgb(0, 0, 0);
      font-weight: 300;
      font-size: 1rem;
    }
  }
}
